<!DOCTYPE html>
<html ng-app="hearts">
<head>
    <title></title>
    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="../bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="../dist/cards.js" type="text/javascript"></script>
    <script src="script.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../dist/cards.css">
    </style>
    <script type="text/ng-template" id="templates/card.html">
        <div class="card {{card.suit.name}}" ng-class="{selected:card.selected}" ng-click="card.select(player)" >
            <div class="top"><span ng-bind-html="htmlSuit"></span></div>
            <span class="suit">{{card.rank}}</span>
            <div class="bottom"><span ng-bind-html="htmlSuit"></span></div>
        </div>
    </script>
</head>
<body ng-controller="MainController">

    <div id="game-actions">
        <button type="" ng-click="game.shiftDealer()">Shift dealer</button>
        <button type="" ng-click="game.shiftTurn()">Shift turn</button>
    </div>

    <hr>

    <div class="player" ng-repeat="player in game.players">
        {{player.name}} <span ng-if="game.dealer == player">(Dealer)</span><span ng-if="game.turn == player">(turn)</span>
        <br>
        <div card="card" player="player" class="card-container" ng-repeat="card in player.hand.cards"></div>
        <br>
        {{game.evaluateHand(player.hand).string}}
        <div class="player-actions">
            <button ng-click="player.hand.swapCards()" ng-disabled="game.turn != player">Swap cards</button>
        </div>
    </div>

    <hr>

    <div class="deck">
    <hr>Deck:<br>
        <div card="card" class="card-container" ng-repeat="card in game.deck.cards"></div>
        <hr>Discard pile:<br>
        <div card="card" class="card-container" ng-repeat="card in game.deck.discards"></div>
    </div>

</body>
</html>